<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.pollmailboxtrigger.PollMailboxTrigger plugin="poll-mailbox-trigger-plugin@1.026">
      <spec>* * * * *</spec>
      <labelRestriction>false</labelRestriction>
      <enableConcurrentBuild>false</enableConcurrentBuild>
      <host>imap.gmail.com</host>
      <username>swapnareddy.putluru@gmail.com</username>
      <password>{AQAAABAAAAAghMYg50+YFpjoM+MsoSktKG+Jqk1XDKeLNx1Z2zSnaRVpIrm4aMLKJPb1e7hu4sdU}</password>
      <script>subjectContains=Trigger from mail</script>
      <attachments>IGNORE</attachments>
    </org.jenkinsci.plugins.pollmailboxtrigger.PollMailboxTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Trigger from mail&quot;
echo ${name}</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>